body{
    background-color:lightblue;
}

h1, div, big {
    text-align:center;
}

h1 {
    font-family: 'Orelega One', cursive;
}

h2,.word, p{
    font-family: 'Cormorant Garamond', serif;
}

.word, p {
    font-size: 25px;
}

.container{
 background-color: white;
 padding:25px;
}

.big{
    font-size:60px;
}